body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

#main-section-she{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-chat-container {
    height: 100vh;
    width: 500px;
    max-width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-x: hidden;
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin-top: 54px;
    padding: 5px;
}

#chat-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#chat-container > .send-msg {
    align-self: flex-end;
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    max-width: 60%;
    position: relative;
    margin-top: 25px;
    word-wrap: break-word;
    /* border: 2px dashed #ddd; */
}

#chat-container > .receive-msg {
    align-self: flex-start;
    background-color: #ddd;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    max-width: 60%;
    position: relative;
    margin-top: 25px;
    word-wrap: break-word;
    /* border: 2px dashed #79da8a; */
}

#chat-container > .send-msg > .from-msg {
    position: absolute;
    right: 0;
    top: -28px;
    font-size: 12px;
    color: black;
    width: max-content;
}

.someone-joined {
    font-size: 10px;
    text-align: center;
    color: rgb(75, 73, 73);
    margin-top: 6px;
    margin-bottom: 6px;
}

.online-count {
    position: absolute;
    background-color: black;
    padding: 7px;
    left: 4px;
    top: 4px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.username-jjll {
    color: red;
}

#chat-container > .receive-msg > .from-msg {
    position: absolute;
    left: 0;
    top: -28px;
    font-size: 12px;
    color: black;
    width: max-content;
}

#chat-container > .send-msg > .whom-msg {
    width: max-content;
    position: absolute;
    bottom: -1.6rem;
    right: 0;
    color: red;
    font-size: 10px;
}

#chat-container > .receive-msg > .whom-msg {
    width: max-content;
    position: absolute;
    bottom: -1.6rem;
    left: 0;
    color: red;
    font-size: 10px;
}

#send-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
    position: relative;
}

.heading {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    width: 500px;
    max-width: 100%;
    z-index: 100;
}

.chat-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.line-of-chat {
    height: 2px;
    width: 100%;
    background-color: #4CAF50;
}

#form {
    width: 500px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding-top: 5px;
}

#form > input {
    width: 50%;
    height: 30px;
    outline: none;
    border: none;
    padding: 5px;
    margin-left: 10px;
    border-bottom: 1px solid #4CAF50;
}

#form > button {
    width: 20%;
    height: 100%;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    outline: none;
}

#form > button:hover {
    cursor: pointer;
}

#form > select:hover {
    cursor: pointer;
}

#form > select {
    width: 25%;
    height: 100%;
    margin-left: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #4CAF50;   
}


